# ML | Day 7

## DAY 7: AIR QUALITY
 
### •Load the data into a pandas dataframe

### •Deal with missing values and incorrect data types.

### •Create new features for:

#### ○dentifying weekdays

#### ○Months of the year.

#### ○Morning (before 08:00),Afternoon(before 16:00) and Evening.

#### ○Encode features where necessary(Label Encoding and or One Hot Encoding). 
 

Dataset: https://github.com/Fortune-Adekogbe/30-Days-of-ML/tree/master/Day-7

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
aq = pd.read_csv("/cleanAirQualityUCI.csv")

In [4]:
aq.head(10)

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
0,11/23/2004,19:00:00,11.9,2008,-200,50.6,1980,1389,325,220,2562,2342,12.4,74.7,1.0741,Very High
1,11/23/2004,20:00:00,11.5,1918,-200,49.4,1958,1358,335,190,2477,2237,11.5,76.2,1.0324,Very High
2,11/17/2004,18:00:00,10.2,1802,-200,47.7,1924,748,356,192,2235,2452,13.7,52.8,0.8244,Very High
3,11/23/2004,18:00:00,10.2,1982,-200,49.5,1959,1369,322,227,2536,2386,13.2,72.6,1.0936,Very High
4,11/26/2004,18:00:00,10.1,1956,-200,45.2,1877,1389,347,255,2338,2465,15.5,62.8,1.0979,Very High
5,12/13/2004,18:00:00,9.9,1881,-200,50.8,1983,1479,334,269,2271,2523,12.6,55.9,0.8142,Very High
6,10/26/2004,18:00:00,9.5,1908,-200,52.1,2007,952,325,180,2775,2372,22.5,61.5,1.6579,Very High
7,12/2/2004,19:00:00,9.4,1816,-200,43.9,1851,1184,341,171,2405,2069,15.4,73.0,1.2688,Very High
8,12/14/2004,18:00:00,9.3,-200,-200,-200.0,-200,1310,-200,248,-200,-200,-200.0,-200.0,-200.0000,Very High
9,11/2/2004,20:00:00,9.2,1778,-200,48.2,1935,859,349,119,2643,1927,20.9,67.5,1.6539,Very High

### Extracting months of the year, weekdays, morning, afternoon, evening and night.

In [6]:
aq['Time'].sample(8)

8397    18:00:00
6545     6:00:00
3022    16:00:00
3841    14:00:00
9341     6:00:00
5574    13:00:00
2392    19:00:00
2760    13:00:00
Name: Time, dtype: object

In [7]:
aq['Date']= pd.to_datetime(aq['Date'])

In [8]:
aq['Time']= pd.to_datetime(aq['Time'])

In [9]:
aq['year'] =pd.DatetimeIndex(aq['Date']).year

In [10]:
aq['Month'] =pd.DatetimeIndex(aq['Date']).month

In [11]:
aq['Month name'] =aq['Date'].dt.month_name(locale = 'English')

In [12]:
aq['Days'] =pd.DatetimeIndex(aq['Date']).day

In [13]:
aq['Weekday'] =pd.DatetimeIndex(aq['Date']).weekday_name

In [17]:
aq.head()

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,...,PT08_S5_O3,T,RH,AH,year,Month,Month name,Days,Weekday,Time no
0,2004-11-23,2020-06-15 19:00:00,11.9,2008,-200,50.6,1980,1389,325,220,...,2342,12.4,74.7,1.0741,2004,11,November,23,Tuesday,Evening
1,2004-11-23,2020-06-15 20:00:00,11.5,1918,-200,49.4,1958,1358,335,190,...,2237,11.5,76.2,1.0324,2004,11,November,23,Tuesday,Night
2,2004-11-17,2020-06-15 18:00:00,10.2,1802,-200,47.7,1924,748,356,192,...,2452,13.7,52.8,0.8244,2004,11,November,17,Wednesday,Evening
3,2004-11-23,2020-06-15 18:00:00,10.2,1982,-200,49.5,1959,1369,322,227,...,2386,13.2,72.6,1.0936,2004,11,November,23,Tuesday,Evening
4,2004-11-26,2020-06-15 18:00:00,10.1,1956,-200,45.2,1877,1389,347,255,...,2465,15.5,62.8,1.0979,2004,11,November,26,Friday,Evening

#### getting morning, afternoon and night

In [18]:
aq['Time no'] = (aq['Time'].dt.hour % 24 + 4) // 4  
aq['Time no'].replace({1: 'Late Night',
                      2: 'Early Morning',
                      3: 'Morning',
                      4: 'Noon',
                      5: 'Evening',
                      6: 'Night'}, inplace=True)

In [19]:
aq.head()

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,...,PT08_S5_O3,T,RH,AH,year,Month,Month name,Days,Weekday,Time no
0,2004-11-23,2020-06-15 19:00:00,11.9,2008,-200,50.6,1980,1389,325,220,...,2342,12.4,74.7,1.0741,2004,11,November,23,Tuesday,Evening
1,2004-11-23,2020-06-15 20:00:00,11.5,1918,-200,49.4,1958,1358,335,190,...,2237,11.5,76.2,1.0324,2004,11,November,23,Tuesday,Night
2,2004-11-17,2020-06-15 18:00:00,10.2,1802,-200,47.7,1924,748,356,192,...,2452,13.7,52.8,0.8244,2004,11,November,17,Wednesday,Evening
3,2004-11-23,2020-06-15 18:00:00,10.2,1982,-200,49.5,1959,1369,322,227,...,2386,13.2,72.6,1.0936,2004,11,November,23,Tuesday,Evening
4,2004-11-26,2020-06-15 18:00:00,10.1,1956,-200,45.2,1877,1389,347,255,...,2465,15.5,62.8,1.0979,2004,11,November,26,Friday,Evening

### I dont think any feature here needs encoding ):

### used excel and powerbi to clean the dataset